@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Monthly Expense Report";
}

<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    
    a {
        color: #bb86fc;
    }
</style>

<h2>Monthly Expense Report</h2>
<p>Report for @ViewBag.Year, @ViewBag.Month</p>

<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Category</td>
            <td>@item.Total.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>