@{
    ViewData["Title"] = "Costs and Incomes";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="addIncomeBtn">Add Income</button>
    <button id="addCostBtn">Add Cost</button>
</div>