@{
    ViewData["Title"] = "Add New Cost / Income";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <p>Name: </p>
        <text></text>
    </div>
    <button>Submit</button>
</div>