@using CompanyBudgetTracker.Controllers
@{
    ViewData["Title"] = "Add New Cost / Income";
}

<style>
    .form-element {
        margin-bottom: 20px;
        }
</style>

<form method="post" id="transactionForm" enctype="multipart/form-data" action="@Url.Action("SaveTransaction", "CostIncome")">
    <div class="text-center form-element">
        <h1 class="display-4">Welcome</h1>
        <div class="text-center form-element">
            <label>Name: </label>
            <input id="transactionName" name="transactionName" type="text"/>
            <label>Amount: </label>
            <input id="amount" name="amount" type="number"/>
            <select id="transactionType" name="transactionType">
                <option id="costType">Cost</option>
                <option id="incomeType">Income</option>
            </select>
            <label>Date: </label>
            <input id="transactionDate" name="transactionDate" type="date"/>
            <div class="form-group">
                <label for="categoryId">Category: </label>
                <select id="categoryId" name="CategoryId" class="form-control">
                    <option value="">Please select a category</option>
                    @foreach (var category in (SelectList)ViewData["Categories"])
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
            </div>
            <div class="text-center form-element">
                <label for="transactionAtt">Select attachment: </label>
                <input id="transactionAtt" name="transactionAtt" type="file" onchange="updateLabel()" />
            </div>
            
        </div>
        <div class="text-center form-element">
            <button type="submit" id="submitBtn">Submit</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        document.getElementById("submitBtn").addEventListener("click", function (event) {
            event.preventDefault();
        
            var formData = new FormData();
            formData.append('Name', document.getElementById("transactionName").value);
            formData.append('Amount', document.getElementById("amount").value);
            formData.append('Type', document.getElementById("transactionType").value);
            formData.append('Date', document.getElementById("transactionDate").value);
            formData.append('Category', document.getElementById("categoryId").value);
            formData.append('transactionAtt', document.getElementById("transactionAtt").files[0]);
        
            fetch('@Url.Action("SaveTransaction", "CostIncome")', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
}
