@using CompanyBudgetTracker.Controllers
@{
    ViewData["Title"] = "Add New Cost / Income";
}

<style>
    .form-element {
        margin-bottom: 20px;
        }
</style>

<div class="text-center form-element">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center form-element">
        <label>Name: </label>
        <input id="transactionName" name="transactionName" type="text"/>
        <label>Amount: </label>
        <input id="amount" name="amount" type="number"/>
        <select id="transactionType" name="transactionType">
            <option id="costType">Cost</option>
            <option id="incomeType">Income</option>
        </select>
        <label>Date: </label>
        <input id="transactionDate" name="transactionDate" type="text"/>
        <div class="text-center form-element" style="margin-top: 10px">
            <button>Select attachment</button>
            <input id="transactionAtt" name="transactionAtt" type="text"/>
        </div>
    </div>
    <div class="text-center form-element">
        <button id="submitBtn">Submit</button>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.getElementById("submitBtn").addEventListener("click", function () {
            //window.location.href = '@Url.Action("Index", "CostIncome")';
            
            var data = {
                Name: document.getElementById("transactionName").value,
                Amount: document.getElementById("amount").value,
                Type: document.getElementById("transactionType").value,
                Date: document.getElementById("transactionDate").value,
                Attachment: document.getElementById("transactionAtt").value,
                };

                
            
            fetch('@Url.Action("SaveTransaction", "CostIncome")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    },
                body: JSON.stringify(data),
            })
                    .then(response => {
                              if (!response.ok) {
                                  throw new Error('Network response was not ok');
                              }
                              return response.json();
                          })
                    .then(data => {
                        console.log('Success: ', data);
                        window.location.href = '@Url.Action("Index", "CostIncome")';
                    })
                    .catch((error) => {
                        console.error('Error: ', error);
                        });
            });
        
    </script>
}
