@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="costIncomeTabBtn">Costs and Incomes</button>
</div>

<script type="text/javascript">
        document.getElementById('costIncomeTabBtn').addEventListener('click', function () {
            window.location.href = '@Url.Action("Index", "CostIncome")'
        });
</script>