@{
    ViewData["Title"] = "Home Page";
}
<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    
    a {
        color: #bb86fc;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="costIncomeTabBtn">Costs and Incomes</button>
    <button id="categoriesTabBtn">Categories</button>
    <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
</div>

@section Scripts
{
        <script type="text/javascript">
            document.getElementById('costIncomeTabBtn').addEventListener('click', function () {
                window.location.href = '@Url.Action("Index", "CostIncome")'
            });
    </script>
        <script type="text/javascript">
            document.getElementById('categoriesTabBtn').addEventListener('click', function () {
                window.location.href = '@Url.Action("Index", "Categories")'
            });
    </script>
}